In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

import sys
sys.path.append('/gh/burritos/')
from util import load_burritos

/Users/scott/anaconda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/scott/anaconda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

# Load burrito data

In [2]:
df_burritos, df_shops, df_ingredients = load_burritos()

In [7]:
df_burritos.head()

,Location,Burrito,Date,Cost,Hunger,Mass (g),Density (g/mL),Length,Circum,Volume,...,Fillings,Meat:filling,Uniformity,Salsa,Synergy,Wrap,overall,Rec,Reviewer,Notes
0,donato's taco shop,california,1/18/2016,6.49,3.0,NaN,NaN,NaN,NaN,NaN,...,3.5,4.0,4.0,4.0,4.0,4.0,3.80,NaN,scott,good fries: 4/5
1,oscar's mexican food,california,1/24/2016,5.45,3.5,NaN,NaN,NaN,NaN,NaN,...,2.5,2.0,4.0,3.5,2.5,5.0,3.00,NaN,scott,Fries: 3/5; too little meat
2,oscar's mexican food,carnitas,1/24/2016,4.85,1.5,NaN,NaN,NaN,NaN,NaN,...,3.0,4.5,4.0,3.0,3.0,5.0,3.00,NaN,emily,NaN
3,oscar's mexican food,carne asada,1/24/2016,5.25,2.0,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,5.0,4.0,4.0,5.0,3.75,NaN,ricardo,Go to average burrito place like Rigoberto's i...
4,pollos maria,california,1/27/2016,6.59,4.0,NaN,NaN,NaN,NaN,NaN,...,3.5,4.5,5.0,2.5,4.5,4.0,4.20,NaN,scott,NaN

### Make a reviewers df

In [3]:
reviewer_ages = {'scott': 25,
                 'emily': 25,
                 'ricardo': 27,
                 'marc': 29,
                 'nicole': 27,
                 'cris': 27,
                 'leo': 23,
                 'sage': 27,
                 'eli': 30,
                 'kelsey': 21,
                 'jake': np.nan,
                 'torben': 26,
                 'alex': 27,
                 'richard': 26,
                 'tom': 26,
                 'brad': 36,
                 'tara': 36,
                 'andy': 36,
                 'bankole': 25,
                 'brent': 40,
                 'luis': 25,
                 'erin': 25,
                 'elynn': 26,
                 'sandra': 28,
                 'katie': 23,
                 'dan': 27,
                 'rob': np.nan,
                 'matteo': 30,
                 'brad p': 50,
                 'matt': np.nan,
                 'daniel': np.nan,
                 'alejandro': 27,
                 'aga': 30,
                 'hannah': 25,
                 'tj': 25,
                 'tammy': 25,
                 'melissa n': 25,
                 'melissa g': 27,
                 'ashley g': np.nan,
                 'mike': 34,
                 'sankha g': 25,
                 'rob g': 27,
                 'meghan': 25,
                 'devleena': 25,
                 'erik': 35,
                 'javier': 24,
                 'sam a': 24,
                 'aaron s': 26,
                 'jaeyoung': 30,
                 'benni': 25,
                 'jeremy': np.nan,
                 'shijia': 23,
                 'ant': np.nan,
                 'justin k': 30,
                 'shreejoy': 30,
                 '@synapticlee': 30,
                 '@danjlurie': 30,
                 'rob l': 23,
                 'nihal': 23,
                 'spencer': 26,
                 'clark': np.nan,
                 'justin c': 35,
                 'chris g': 24,
                 'xi': 26,
                 'erik k': 28,
                 'daniel a': 35,
                 'simon': 25,
                 'nuttida': 27,
                 'ben s': 25,
                 'han mee': 35,
                 'nick g.': np.nan}

reviewer_sd =   {'scott': True,
                 'emily': True,
                 'ricardo': True,
                 'marc': True,
                 'nicole': True,
                 'cris': True,
                 'leo': False,
                 'sage': True,
                 'eli': False,
                 'kelsey': True,
                 'jake': np.nan,
                 'torben': True,
                 'alex': True,
                 'richard': True,
                 'tom': True,
                 'brad': True,
                 'tara': False,
                 'andy': False,
                 'bankole': True,
                 'brent': True,
                 'luis': True,
                 'erin': True,
                 'elynn': True,
                 'sandra': True,
                 'katie': True,
                 'dan': True,
                 'rob': np.nan,
                 'matteo': np.nan,
                 'brad p': False,
                 'matt': np.nan,
                 'daniel': np.nan,
                 'alejandro': False,
                 'aga': np.nan,
                 'hannah': True,
                 'tj': False,
                 'tammy': True,
                 'melissa n': True,
                 'melissa g': True,
                 'ashley g': np.nan,
                 'mike': True,
                 'sankha g': True,
                 'rob g': True,
                 'meghan': True,
                 'devleena': True,
                 'erik': True,
                 'javier': True,
                 'sam a': True,
                 'aaron s': True,
                 'jaeyoung': True,
                 'benni': True,
                 'jeremy': np.nan,
                 'shijia': np.nan,
                 'ant': np.nan,
                 'justin k': True,
                 'shreejoy': False,
                 '@synapticlee': False,
                 '@danjlurie': False,
                 'rob l': True,
                 'nihal': False,
                 'spencer': True,
                 'clark': np.nan,
                 'justin c': True,
                 'chris g': True,
                 'xi': True,
                 'erik k': True,
                 'daniel a': True,
                 'simon': True,
                 'nuttida': True,
                 'ben s': True,
                 'han mee': True,
                 'nick g.': np.nan}

df_reviewers = pd.DataFrame({'name':list(reviewer_ages.keys()),
                             'age': list(reviewer_ages.values())})
df_reviewers['sandiego'] = df_reviewers['name'].map(reviewer_sd)

# Add tables to SQL

In [4]:
engine = create_engine('sqlite:///burritos.db', echo=False)
df_burritos.to_sql('burritos', con=engine)
df_shops.to_sql('restaurants', con=engine)
df_reviewers.to_sql('reviewers', con=engine)